* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background-color: #f4f4f4;
    color: #243238;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    // line-height: 16px;
    margin: 0;
    min-width: 320px;
    overflow: hidden;
    width: 100%;
}
a {
	color: #292929;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
}
header {
	position: absolute;
	top:0;
	left:0;
	right:0;
	.conteiner {
			.top_panel {
				display: flex;
				background-color: #000;
				 justify-content: space-around;
				.top_panel_text {
					color: #858585;
					font-style: italic;
					font-size: 14px;
					line-height: 50px;
					padding: 0 11px;
				}
				.top_panel_account {
					line-height: 50px;
						a {
							color: #fff;
						}
				}
			}
		.header_wrap {
			background: url(image/fotoheader2.jpg);
			height: 800px;
			z-index: 10;

		}	
		.header_content {
				padding-top: 2em;
				.top_header_content {	
					z-index: 12;
				width: 80%;
				display: flex;
				margin-right: auto;
				margin-left: auto;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
					.header_logo {
						color: #fff;
					}

					.header_search{
						height: 50px;
						display: inline-block;
						vertical-align: middle;
						position: relative;
						width: 50%;
						.search_form {
							display: block;
							width: 100%;
							input {
								display: block;
								padding-right: 60%;
								padding-left: 25px;
								background: transparent;
								height: 47px;
								border-color: rgba(225,225,225,0.3);
								font-style: italic;
								color: #fff;
								border-radius: 25px;
							}
							button {
								width: 5em;
								height: 47px;
								color: #fff;
								position: absolute;
								right: 0;
								top: 0;
								border: none;
								background: none;
							}
						}
					}
				}	
				.header_menu {
				padding-top: 2em;	
				width: 80%;
				display: flex;
				margin-right: auto;
				margin-left: auto;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
					.main_menu li {
						margin: 0 50px 0 0;
						display: inline-block;
						a {
							color: #fff;
							font-size: 16px;
							font-weight: 700;
						}
					}
				}
			}
	}
}

