* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background-color: #f4f4f4;
    color: #243238;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    margin: 0 auto;
    min-width: 320px;
    /* overflow: hidden; */
    width: 100%;
    max-width: 1400px;
}
a {
	color: #292929;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
}
img {
	max-width: 100%;
}
header {
	// position: absolute;
	top:0;
	left:0;
	right:0;
	.conteiner {
			.top_panel {
				display: flex;
				background-color: #000;
				 justify-content: space-around;
				.top_panel_text {
					color: #858585;
					font-style: italic;
					font-size: 14px;
					line-height: 50px;
					padding: 0 11px;
				}
				.top_panel_account {
					line-height: 50px;
						a {
							color: #fff;
						}
				}
			}
		.header_wrap {
			background: url(image/fotoheader2.jpg);
			z-index: 10;

		}	
		.header_content {
				padding: 2em 0 0 0;
				background: rgba(0,0,0,0.5);
				.top_header_content {	
					z-index: 12;
					padding: 1em 0 1em 0;
					width: 80%;
					display: flex;
					margin-right: auto;
					margin-left: auto;
					justify-content: space-between;
					flex-wrap: wrap;
					align-items: center;
					.header_logo {
						color: #fff;
					}

					.header_search{
						height: 50px;
						display: inline-block;
						vertical-align: middle;
						position: relative;
						width: 50%;
						.search_form {
							display: block;
							width: 100%;
							input {
								display: block;
								padding-right: 60%;
								padding-left: 25px;
								background: transparent;
								height: 47px;
								border-color: rgba(225,225,225,0.3);
								font-style: italic;
								color: #fff;
								border-radius: 25px;
							}
							button {
								width: 5em;
								height: 47px;
								color: #fff;
								position: absolute;
								right: 0;
								top: 0;
								border: none;
								background: none;
							}
						}
					}
				}	
				.header_menu {
				padding: 2em 0 2em 0;	
				width: 80%;
				display: flex;
				margin-right: auto;
				margin-left: auto;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
					.main_menu li {
						margin: 0 50px 0 0;
						display: inline-block;
						a {
							color: #fff;
							font-size: 16px;
							font-weight: 700;							
						}
						a:hover{
								color: #F4540F;
								transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
							}
					}
				}

			}
			.header_main_text {
					padding: 8em 0 4em 0;
				    width: 80%;
				    display: block;
				    margin-right: auto;
				    margin-left: auto;
				    align-items: center;
					h1 {
						color: #fff;
						font-weight: 300;
						font-size: 2.5em;
					}
					h2 {
						color: #fff;
						font-size: 2.5em;
						font-weight: 700;
					}
				} 
	}
} 
// END HEADER
.page_container {
	margin: 1em 0 0 0;
	.main_content {
		flex-direction:row;
		.conteiner_content {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
			.main_page_category_one {
				.block_one {
					clear: left;
					width: 33%;
					float: left;
					min-height: 1px;
				}
				.block_two {
					width: 33%;
					float: left;
					min-height: 1px;
				}
				.block_three {
					width: 33%;
					float: left;
					min-height: 1px;
				}
			}
			.main_page_category_two {
				.block_one {
					clear: left;
					width: 33%;
					float: left;
					min-height: 1px;
				}
				.block_two {
					width: 33%;
					float: left;
					min-height: 1px;
				}
				.block_three {
					width: 33%;
					float: left;
					min-height: 1px;
				}
			}
		}
	}	
	.main_footer {
		background: #1D1D1E;

		.footer_conteiner {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding: 3em 0 2em 0;
			a {
				color: #F4540F;
			}
			a:hover{
				color: #fff;
			}
			h2 {
				color: #fff;
				font-weight: 700;
			}
			.footer_info .footer_category .footer_account .footer_nwesletter{
				width: 24.75%;
				float: left;

			}
			.footer_category {

			}
			.footer_account {

			}
			.footer_nwesletter {
				
			}
		}
	}
}


